@font-face {
    font-family: 'Igra Sans';
    src: url('IgraSans.eot');
    src: local('Igra Sans'), local('IgraSans'),
    url('IgraSans.eot?#iefix') format('embedded-opentype'),
    url('IgraSans.woff') format('woff'),
    url('IgraSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Inter Tight';
    src: url('InterTight-Italic.eot');
    src: local('Inter Tight Italic'), local('InterTight-Italic'),
    url('InterTight-Italic.eot?#iefix') format('embedded-opentype'),
    url('InterTight-Italic.woff2') format('woff2'),
    url('InterTight-Italic.woff') format('woff'),
    url('InterTight-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('InterTight-Regular.eot');
    src: local('Inter Tight Regular'), local('InterTight-Regular'),
    url('InterTight-Regular.eot?#iefix') format('embedded-opentype'),
    url('InterTight-Regular.woff2') format('woff2'),
    url('InterTight-Regular.woff') format('woff'),
    url('InterTight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}









@font-face {
    font-family: 'Caveat';
    src: url('Caveat-Bold.eot');
    src: local('Caveat Bold'), local('Caveat-Bold'),
    url('Caveat-Bold.eot?#iefix') format('embedded-opentype'),
    url('Caveat-Bold.woff2') format('woff2'),
    url('Caveat-Bold.woff') format('woff'),
    url('Caveat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
